.link {
    padding: 0.85rem;
    border-radius: 0.625rem;
    margin: 0 0.8rem;
    text-decoration: none;
    opacity: 0.9;
}

.link:hover {
    filter: brightness(1.4);
    color: var(--blue-light);
}

 @media (max-width: 430px) {
    
    .link {
        padding: 0;
        margin: 0;
    }
} 